<!DOCTYPE html>
<!--para iniciar este contiene todo mi codigo-->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Corregido -->
  <title>Cute shope</title>
  <link rel="shortcut icon" href="../Static/img/icono.png" type="image/x-icon"> <!-- Corregido -->
  <link rel="stylesheet" href="../Static/css/estilo.css">
  <link rel="stylesheet" href="../Static/css/carrito.css">
  
  <link rel="stylesheet" href="../Static/css/card.css">

</head>
<body>
  <selection class="showcase">
    <header>
      <a href="../Template/Iniciar.html">
        <img src="../Static/img/usuario.png" alt="Descripción de la imagen" class="imagen-sesion" width="50" height="50">
    </a>    
      <div class="container">
        <nav>
          
          <ul>
            <li><a href="../Template/Inicio.html">Inicio</a></li>
            <li><a href="../Template/Papeleria.html">Papeleria</a></li>
            <li><a href="../Template/Peluches.html">Peluches</a></li>
            <li><a href="../Template/Impresoras.html">Impresoras</a></li>
            <li><a href="../Template/Tecnologia.html">Tecnologia</a></li>
            <li><a href="../Template/Juguetes.html">Juguetes</a></li>
            <li><a href="../Template/Carrito.html">Carrito</a></li>
              </div>
          </ul>
        </nav>
        
      </div>
    </header>
    <video src="../Static/img/nuevo.mp4" muted loop autoplay></video>
    <div class="overlay"></div>
    <div class="text">
      <h3>Cute Shop</h3>
      <p>Somos una tienda que maneja distintos tipos de cosas entre otras cosas</p>
      <a href="#">Explorar</a>
    </div>
    <ul class="social">
      <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
      <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
      <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instragram.png"></a></li>
    </ul>

    <br>
    <br>
    
  </selection>
  <script src="../Static/js/main.js"></script>
  <script src="../Static/js/carrito.js"></script>


  <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="contenedorCards">
  <!-- Repite el div.card para cada producto -->
  <div class="card">
      <div class="wrapper">
          <div class="colorProd" style="background-color: #ffffff;"></div>
          <div class="imgProd" style="background-image: url(../Static/img/pap7.webp);"></div>
          <div class="infoProd">
              <p class="nombreProd">Quit de libras y pegatinas azules</p>
              <p class="extraInfo">Fecha de salida: 31/03/2021</p>
              <div class="actions">
                  <div class="preciosGrupo">
                      <p class="precio precioOferta">2,000</p>
                      <p class="precio precioProd">999</p>
                  </div>
                  <div class="icono action alCarrito">
                      <button onclick="agregarAlCarrito('Quit de libras y pegatinas azules', '999', '../Static/img/pap7.webp')">
                          Agregar al carrito
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="card">
    <div class="wrapper">
        <div class="colorProd" style="background-color: #ffffff;"></div>
        <div class="imgProd" style="background-image: url(../Static/img/pap1.webp);"></div>
        <div class="infoProd">
            <p class="nombreProd">Gomas borradoras en forma de helado</p>
            <p class="extraInfo">Fecha de salida: 31/03/2021</p>
            <div class="actions">
                <div class="preciosGrupo">
                   
                    <p class="precio precioProd">500</p>
                </div>
                <div class="icono action alCarrito">
                    <button onclick="agregarAlCarrito('Gomas borradoras en forma de helado', '500', '../Static/img/pap1.webp')">
                        Agregar al carrito
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
  <div class="wrapper">
      <div class="colorProd" style="background-color: #ffffff;"></div>
      <div class="imgProd" style="background-image: url(../Static/img/pap2.webp);"></div>
      <div class="infoProd">
          <p class="nombreProd">Pluma y libreta</p>
          <p class="extraInfo">Fecha de salida: 31/03/2021</p>
          <div class="actions">
              <div class="preciosGrupo">
                  <p class="precio precioOferta">550</p>
                  <p class="precio precioProd">300</p>
              </div>
              <div class="icono action alCarrito">
                  <button onclick="agregarAlCarrito('Pluma y libreta', '300', '../Static/img/pap2.webp')">
                      Agregar al carrito
                  </button>
              </div>
          </div>
      </div>
  </div>
</div>
  </div>
  <div class="contenedorCards">
    <!-- Repite el div.card para cada producto -->
    <div class="card">
        <div class="wrapper">
            <div class="colorProd" style="background-color: #ffffff;"></div>
            <div class="imgProd" style="background-image: url(../Static/img/imp2.webp);"></div>
            <div class="infoProd">
                <p class="nombreProd">Impresora termica con 6 rollos de color rosa</p>
                <p class="extraInfo">Fecha de salida: 31/03/2021</p>
                <div class="actions">
                    <div class="preciosGrupo">
                        <p class="precio precioOferta">400</p>
                        <p class="precio precioProd">299</p>
                    </div>
                    <div class="icono action alCarrito">
                        <button onclick="agregarAlCarrito('Impresora termica con 6 rollos de color rosa', '299', '../Static/img/imp2.webp')">
                            Agregar al carrito
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
      <div class="wrapper">
          <div class="colorProd" style="background-color: #ffffff;"></div>
          <div class="imgProd" style="background-image: url(../Static/img/imp1.webp);"></div>
          <div class="infoProd">
              <p class="nombreProd">Impresora termica con 15 rollos de color azul</p>
              <p class="extraInfo">Fecha de salida: 31/03/2021</p>
              <div class="actions">
                  <div class="preciosGrupo">
                     
                      <p class="precio precioProd">900</p>
                  </div>
                  <div class="icono action alCarrito">
                      <button onclick="agregarAlCarrito('Impresora termica con 15 rollos de color azul', '900', '../Static/img/imp1.webp')">
                          Agregar al carrito
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="card">
    <div class="wrapper">
        <div class="colorProd" style="background-color: #ffffff;"></div>
        <div class="imgProd" style="background-image: url(../Static/img/imp3.webp);"></div>
        <div class="infoProd">
            <p class="nombreProd">Impresora termica color rosa</p>
            <p class="extraInfo">Fecha de salida: 31/03/2021</p>
            <div class="actions">
                <div class="preciosGrupo">
                    <p class="precio precioOferta">500</p>
                    <p class="precio precioProd">300</p>
                </div>
                <div class="icono action alCarrito">
                    <button onclick="agregarAlCarrito('Impresora termica color rosa', '300', '../Static/img/imp3.webp')">
                        Agregar al carrito
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



  <script src="../Static/js/cad.js"></script>
  <script src="../Static/js/carrito.js"></script>
  <script>
    function agregarAlCarrito(nombre, precio, imagen) {
        let productos = JSON.parse(localStorage.getItem('carrito')) || [];
        productos.push({ nombre, precio, imagen });
        localStorage.setItem('carrito', JSON.stringify(productos));
        alert('Producto agregado al carrito');
    }
</script>

</body>
</html>
